######################################################
############### DATALAYER POSTGRES ###################
######################################################
DATALAYER_POSTGRES_PASSWORD=testing
DATALAYER_PG_USER=postgres
DATALAYER_PG_DATABASE=datalayer-postgres-db
DATALAYER_POSTGRES_EXPOSED_PORT=5434

######################################################
############### DATALAYER HASURA API #################
######################################################
DATALAYER_HASURA_EXPOSED_PORT=8082
DATALAYER_HASURA_ENABLE_CONSOLE="true"
DATALAYER_HASURA_ADMIN_SECRET="my-admin-secret"
DATALAYER_HASURA_UNAUTHORIZED_ROLE="public"
DATALAYER_HASURA_CORS_DOMAIN=*
DATALAYER_HASURA_ENABLE_TELEMETRY="false"
## enable debugging mode. It is recommended to disable this in production
DATALAYER_HASURA_DEV_MODE="true"
DATALAYER_HASURA_ADMIN_INTERNAL_ERRORS="true"
## uncomment next line to run console offline (i.e load console assets from server instead of CDN)
# DATALAYER_HASURA_CONSOLE_ASSETS_DIR="/srv/console-assets"

############################################################
############### ENVIO POSTGRES & INDEXER ###################
############################################################
ENVIO_POSTGRES_PASSWORD=testing
ENVIO_PG_USER=postgres
ENVIO_PG_DATABASE=envio-dev

############################################
############### POSTGRES ###################
############################################
ENVIO_POSTGRES_EXPOSED_PORT=5433

############################################
############### INDEXER ####################
############################################
ENVIO_PG_HOST=indexer-postgres-db
ENVIO_PG_PORT=5432 
HASURA_GRAPHQL_ENDPOINT=http://indexer-graphql-api:8080/v1/metadata
TUI_OFF=true

############################################
############### HASURA #####################
############################################
HASURA_EXPOSED_PORT=8080
HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:testing@indexer-postgres-db:5432/envio-dev
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log
HASURA_GRAPHQL_NO_OF_RETRIES=10
HASURA_GRAPHQL_ADMIN_SECRET=testing
HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES="true"
PORT=8080
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=public

############################################
############### PROCESSING #################
############################################

CHAINS=[{"id":10,"name":"optimism","rpcUrls":["https://optimism.llamarpc.com","https://rpc.ankr.com/optimism","https://optimism.gateway.tenderly.co","https://optimism.blockpi.network/v1/rpc/public","https://mainnet.optimism.io","https://opt-mainnet.g.alchemy.com/v2/demo"],"fetchLimit":5000,"fetchDelayMs":1000}]

DATABASE_URL=postgresql://postgres:testing@datalayer-postgres-db:5432/datalayer-postgres-db
DATABASE_SCHEMA=public

INDEXER_GRAPHQL_URL= http://indexer-graphql-api:8080/v1/graphql
INDEXER_ADMIN_SECRET=testing

METADATA_SOURCE=public-gateway
PUBLIC_GATEWAY_URLS=["https://ipfs.io","https://dweb.link","https://cloudflare-ipfs.com","https://gateway.pinata.cloud","https://ipfs.infura.io","https://ipfs.fleek.co","https://ipfs.eth.aragon.network","https://ipfs.jes.xxx","https://ipfs.lol","https://ipfs.mle.party"]

RETRY_MAX_ATTEMPTS=100000
RETRY_BASE_DELAY_MS=200
RETRY_MAX_DELAY_MS=1000
RETRY_FACTOR=1.5

PRICING_SOURCE=coingecko
COINGECKO_API_KEY={{YOUR_PRO_KEY}}
COINGECKO_API_TYPE=pro
