DATABASE_URL=postgres://postgres:testing@localhost:5434/datalayer-postgres-db ##postgres://postgres:EewukkeX8iCV6RLUPgK8@gitcoin-data-layer-staging-rds.cxg4miqu8345.us-east-2.rds.amazonaws.com/GitcoinDatalayerRdsDb
DATABASE_SCHEMA=public
LOG_LEVEL=info
