DATABASE_URL=postgres://postgres:testing@localhost:5434/datalayer-postgres-db
DATABASE_SCHEMA=public
INDEXER_URL="http://localhost:8080/v1/graphql"
PUBLIC_GATEWAY_URLS=["https://gitcoin.mypinata.cloud", "https://ipfs.io", "https://dweb.link", "https://cloudflare-ipfs.com", "https://gateway.pinata.cloud", "https://ipfs.infura.io", "https://ipfs.fleek.co", "https://ipfs.eth.aragon.network", "https://ipfs.jes.xxx", "https://ipfs.lol", "https://ipfs.mle.party"]
CHAINS=[{"id":10,"name":"optimism","rpcUrls":["https://optimism.llamarpc.com","https://rpc.ankr.com/optimism","https://optimism.gateway.tenderly.co","https://optimism.blockpi.network/v1/rpc/public","https://mainnet.optimism.io","https://opt-mainnet.g.alchemy.com/v2/demo"]}]
CHAIN_IDS=[10]
LOG_LEVEL=info
PRICING_SOURCE=coingecko
COINGECKO_API_KEY={{YOUR_PRO_KEY}}
COINGECKO_API_TYPE=pro
